/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

/***** GENERIC STYLES *************/
/**********************************/

.blue{
	background-color: #4435d3;
}

.white{
	color: white;
}

.orange{
	color: #da844d;
}

.green{
	color: #27a018;
}

a:hover { 
    background-color: gray;
    display: block;
}

button{
	border: none;
	width: 112px;
	margin: 15px;
	padding: 15px;
	font-size: 1em;
}

body{font-family: 'Oswald', sans-serif;
	background-color: gray;
}




/***** SPECIFIC STYLES ************/
/**********************************/

.container{
	background-color: #f9faf2;
	max-width: 1024px;
	margin: 0 auto;
}



#logoText{
	display: block;
}


header{
	margin: 0 auto;
	
	padding: 15px;
}

#header_text p{
	margin-bottom: 0;
}

header img{
	width: 50%;
}

#logo{
	float: left;
	width: 20%;
}

h1{
	font-size: 2.5em;
}

#menu{
	float: right;
}

#menu img{
	width: 50px;
	margin-right: 15px;
}

#switch_button{
	text-align: center;
}

.selector {
  background-color: #da844d;
  color: white;
}

.switchPic{
	display: none;
}

#map{
	margin: 0 auto;
	margin-bottom: 15px;
}

#map img{
	width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 15px;
    width: 100%;
    table-layout: fixed;
}



tr img{
	width: 33%;
}

.switchTable{
	display: none;
}


footer{
	margin: 0 auto;
	padding: 15px;
}

footer p{
	font-size: .9em;
}

#footP1{
	float: left;
}

#footP2{
	float: right;
}

/****************** tablet ****************/
@media screen and (min-width: 768px) {

	button{
		width: 200px;
	}

	tr img{
	width: 8%;
}

}
